* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;

  main {
    height: 50%;
    width: 20%;
    background-color: #1175b7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    .card {
      height: 100%;
      width: 100%;
      background-color: #fffcfc;
      border-radius: 10px;
      position: relative;
      
      img {
        height: 100%;
        width: 100%;
        border-radius: 40px;
        padding: 20px;
        object-fit: cover;
        // opacity: 0.2;
      }
      
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0) rotate(-60deg);
        font-size: 100px;
        background: linear-gradient(
          to right bottom,
          rgb(255, 0, 0),
          rgb(123, 0, 255)
          );
          // background-size: cover;
          background-clip: text;
          color: transparent;
          opacity: 0;
          transition: all cubic-bezier(0.73, 0.86, 0.68, 1.32) 0.3s;
        }

      h2 {
        color: black;
        text-align: center;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
        white-space: nowrap;
      }
    }
  }
}
